<%= form_for @item, :html => { :multipart => true } do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <% categories_array = Category.all.map { |category| [category.name] } %>
    <%= f.label :category_name %><br />
    <%= f.collection_select :category_id, Category.order(:name), :id, :name, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :class => "tinymce", :rows => 18, :cols => 30 %>
    <%= tinymce :theme => "simple", :language => "en", :plugins => ["inlinepopups", "paste"] %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
<!--  <div class="field">
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url %>
  </div> -->
  <div class="field">
    <%= f.label :photo %><br />
    <%= f.file_field :photo %>
  </div>
  <div class="actions">
    <legend class="link-to-other"><%= f.submit %></legend>
  </div>
<% end %>
