<p id="notice"><%= notice %></p>

<h2>Your Pragmatic Cart</h2>
<ul>
<% for item in @cart.line_items %>
	<li><%= item.product.title %></li>
<% end %>
</ul>


<p>
  <b>Item:</b>
  <%= @line_item.item_id %>
</p>

<p>
  <b>Cart:</b>
  <%= @line_item.cart_id %>
</p>


<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
